.menu-mobile {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;

  background-color: rgba(255, 255, 255, 1);
  flex-direction: column;
  top: 0;
  left: 0;

  z-index: 999;

  .menu-mobile__nav {
    .menu-mobile__element {
      font-weight: 500;
      font-size: 40px;
      text-decoration: none;
      letter-spacing: 0.02em;
      padding: 16px;

      &:nth-of-type(3) {
        padding-bottom: 10%;
      }
      .menu-mobile__link {
        text-decoration: none;
        color: black;
        &:focus {
          color: #2196f3;
        }
      }
    }
  }
}

.mobile-contact {
  max-width: 320px;
  margin: 0;
  .mobile-contact__list-element {
    padding-bottom: 32px;
    font-size: 24px;

    .mobile-contact__link {
      text-decoration: none;
      color: rgba(117, 117, 117, 1);
      &.mobile-contact--primary {
        color: var(--mobileContact);
        font-size: 34px;
      }
    }
  }
}
.mobile-social {
  display: flex;
  padding: 0;
  .mobile-social__element {
    padding: 0 5px;
    &:nth-of-type(1) {
      padding-left: 35px;
    }

    &:nth-of-type(2) {
      border-left: 1px solid rgba(33, 33, 33, 0.2);
    }
    &:nth-of-type(3) {
      border-left: 1px solid rgba(33, 33, 33, 0.2);
    }
    &:nth-of-type(4) {
      border-left: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
  .mobile-social__link {
    text-decoration: none;
    color: var(--mobileContact);
    font-size: 18px;
  }
}
.mobile-menu__close-btn {
  position: absolute;
  background-color: white;
  border: none;
  right: 0;
  top: 10px;
  font-size: 25px;
  &:focus {
    color: #2196f3;
  }
}
.is-open {
  display: none;
}

.mobile-menu__open-btn {
  position: absolute;
  right: 35px;
  top: 23px;
  background-color: white;
  border: none;
}

@media screen and (min-width: 768px) {
  .menu-mobile {
    display: none;
    &.menu-mobile__open-btn {
      display: none;
    }
  }
}
