.footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 50px 0 30px 0;
  font-size: 26px;
}
.studio {
  color: var(--studioColor);
}
.footer__logo-web {
  color: var(--colorHover);
}

@media screen and(min-width:1200px) {
  .footer__logo {
    padding: 0;
    position: relative;
    top: 60px;
  }
}
