@media screen and(min-width:768px) {
  .header__mail-tel {
    &:link {
      color: var(--colorContactHeader);
      text-decoration: none;
    }

    &:visited {
      text-decoration: none;
    }
    &:hover {
      color: var(--colorHover);
      --color2: var(--color10);
      --color3: var(--color10);
    }
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .headerPhoneAndMailSvg {
    position: relative;
    top: 1px;
  }
  .header__Contact-item {
    list-style: none;
    padding: 5px 0 5px 0;
  }
  .header__Contact {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    position: absolute;
    left: 80%;
    top: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.172em;
    max-width: 400px;
    padding: 0;
  }
}

@media screen and(min-width:1200px) {
  .header__Contact-item {
    padding-left: 20px;
  }
  .header__Contact {
    flex-direction: row;
    position: absolute;
    left: 69%;
    top: 26px;
    font-size: 14px;
  }
}
