.footer__subscribe-btn {
  height: 50px;
  width: 200px;
  background-color: var(--color10);
  border-radius: 4px;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding-left: 42px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .footer__subscribe-btn {
    margin-top: 25px;
  }
}
