:root {
  --colorHover: rgba(33, 150, 243, 1);
  --colorLink: #212121;
  --colorBorder: rgba(33, 150, 243, 0, 5);
  --bodyColor: rgba(33, 33, 33, 1);
  --colorBtnBorder: rgba(0, 0, 0, 0.12);
  --footerAndHeaderBgC: #2f303a;
  --figureColor: rgba(117, 117, 117, 1);
  --addresColor: #fff;
  --studioColor: #fff;
  --infoFooter: rgba(255, 255, 255, 0.6);
  --btnIndexBgC: #2196f3;
  --colorIndexBtn: #fff;
  --shadowColor: rgba(0, 0, 0, 0.15);
  --colorLoremIpsum: #757575;
  --mailTelColor: rgba(117, 117, 117, 1);
  --btnHoverColor: #fff;
  --colorStudio: #000000;
  --colorContactHeader: #757575;
  --colorContactFooter: #rgba(255, 255, 255, 0.6);
  --color10: #2196f3;
  --colorSvgSocial: #ffffff;
  --colorText: #fff;
  --mobileContact: #2196f3;
}
